---
const { title, url, description, pubDate, author, image } = Astro.props;
---

<a href={url} title={title} class="group"
  ><article class="h-full flex-1">
    <div class="w-full block lg:col-span-2">
      <img
        class="h-full object-cover aspect-[384/246] bg-center"
        src={image}
        alt={title}
      />
    </div>
    <div
      class="w-full flex flex-col flex-1 items-start justify-between -mt-12 p-4">
      <div class="w-full p-4 bg-wood-100">
        <div>
          <p class="font-medium text-black">{title}</p>
        </div><p class="text-slate-600 line-clamp-2 font-serif mt-2 text-sm">
          {description}
        </p>
      </div><footer class="px-4">
        <div class="items-center inline-flex mt-8 space-x-1">
          <p class="font-medium text-gray-900 text-xs">{author}</p><span
            aria-hidden="true">·</span
          ><div class="flex text-gray-500 text-xs">
            <time datetime={pubDate}>{pubDate}</time>
          </div>
        </div>
      </footer>
    </div>
  </article></a
>
