---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title={frontmatter.title}
  description={frontmatter.description}
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Title}",
    description: "{frontmatter.description}",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>
  <section>
    <div class="mx-auto 2xl:max-w-7xl md:px-12 px-8 grid py-12 space-y-6">
      <div class="w-full lg:pt-6 relative">
        <article class="mx-auto 2xl:max-w-7xl md:px-12 lg:py-24 px-4 py-4">
          <div class="w-full absolute inset-0">
            <img
              class="w-full aspect-video h-full object-cover"
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
            />
          </div>
          <div
            class="relative 2xl:max-w-7xl lg:mt-24 max-w-6xl md:p-10 mx-auto p-4">
            <div
              class="mx-auto bg-wood-100 lg:-mb-[10.5rem] lg:p-10 max-w-3xl p-4 sm:p-8">
              <div>
                <h1
                  class="text-black font-display tracking-tight font-bold lg:text-4xl text-xl">
                  {frontmatter.title}
                </h1>
              </div>
              <div class="items-center inline-flex mt-10">
                <div class="items-center inline-flex space-x-1">
                  <p class="font-medium text-gray-900 text-sm">
                    {frontmatter.author}
                  </p><span aria-hidden="true">·</span>
                  <div class="flex text-gray-500 text-sm">
                    <time datetime={frontmatter.pubDate.toString().slice(0, 10)}
                      >{frontmatter.pubDate.toString().slice(0, 10)}</time
                    >
                  </div>
                </div>
              </div>
              <div class="w-full items-center mt-6">
                <div class="flex flex-wrap gap-3">
                  {
                    frontmatter.tags.map((tag) => (
                      <span class="bg-wood-500 px-3 py-1.5">
                        <a href={`/tags/${tag}`}>{tag} </a>{" "}
                      </span>
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="relative bg-wood-100 overflow-hidden">
    <div class="w-full mx-auto md:px-12 px-8 items-center max-w-3xl py-12">
      <div class="grid grid-cols-1 gap-10 xl:gap-24">
        <div>
          <p>
            <em class="font-medium text-black font-display text-2xl uppercase"
              >{frontmatter.description}</em
            >
          </p>
        </div>
        <div>
          <div
            class="font-serif first-letter:float-left first-letter:font-bold first-letter:mr-3 first-letter:text-7xl first-letter:text-slate-900 first-line:tracking-widest first-line:uppercase prose prose-blockquote:border-l-salmon-500 prose-headings:font-sans prose-headings:text-black prose-li:marker:text-salmon-500 prose-slate">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
